*{
	margin:0px;
	padding:0px;
}

html {
	background-color: #F2FEED;
}

body{
	
	
}

#contenedor {
	background-color: #D7FEC6;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	height: 500px;
}

#menu{
	background-color: #B8FA9B;
	text-align:center;
	margin-bottom: 5px;
	padding: 10px;
	
}

#menu a{
	background-color: #71CA4A;
	border: solid 1px;
	margin: 5px;
	padding: 3px;
	text-decoration:none; 
}
#menu a#borrar {
	background-color: red;
}

h1, h2{
	text-align: center;
}

#lista {
	position: relative;
	left: 50%;
	display: block;
	width: 500px;
	margin-left: -250px;
	margin-top: 20px;
	padding: 10px;
	// margin-left: 20px;
	// margin-top: 20px;
}

#lista a{
	text-decoration:none; 
}

table#lista tr, td, th{
	padding: 5px;
	text-align:center;
	border: solid 2px;
	border-color: #3E7C23;
}

form#borrar, form#modificar{
	position: relative;
	left: 50%;
	display: block;
	width: 500px;
	margin-left: -250px;
	margin-top: 20px;
	padding: 10px;
	//margin-left: 20px;
	//margin-top: 20px;
	text-align:center;
	
}


form#añadir {
	position: relative;
	left: 50%;
	background-color: #77D64D;
	display: block;
	width: 200px;
	margin-left: -100px;
	margin-top: 20px;
	padding: 10px;
	
}

form#modificar2 {
	position: relative;
	left: 50%;
	background-color: #77D64D;
	display: block;
	width: 200px;
	margin-left: -100px;
	margin-top: 20px;
	padding: 10px;
	
}



.contenido{
	width: 1024px;
  	margin: 0 auto;
  	background-color: #FDF0D9;
}

.contenido ul li{
	list-style: none;
	display:inline;
	margin-right:15px;
}

.contenido ul li a {
	color: green;
	text-decoration:none;
}

.contenido ul li a:hover{
	text-decoration:underline;
}
